script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js")
script(src="vendor/fancybox-3.0/dist/jquery.fancybox.min.js")
script(src="vendor/owl-carousel/owl.carousel.min.js")
script(src="vendor/jQuery-form-styler/jquery.formstyler.min.js")
script(src="js/main.js")