@font-face {
	font-family: freesetReg;
	src: url('../fonts/freeset-cyrillic.woff');
}

@import 'icons.scss';

@mixin placeholder {
  &::-webkit-input-placeholder {@content}
  &:-moz-placeholder           {@content}
  &::-moz-placeholder          {@content}
  &:-ms-input-placeholder      {@content}
}

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: freesetReg;
}

ul {
	margin: 0;
	padding: 0;
}

button {
	border: none;
	background-color: transparent;
	padding: 0;
}

.blue {
	color: rgb(18, 149, 212);
}

.page-wrapper {
	overflow: hidden;
	width: 1920px;
	max-width: 100%;
	margin: 0 auto;
}

.page-content {
	padding-bottom: 135px;
}

.container {
	width: 1000px;
	max-width: 100%;
	margin: 0 auto;
}

.jq-checkbox {
	width: 30px;
	height: 30px;
	border-width: 1px;
	border-color: rgb(153, 153, 153);
	border-style: solid;
	border-radius: 2px;
	background: rgb(255, 255, 255);
	&__div {
		
	}
	&.focused {
		border-color: rgb(153, 153, 153);
	}
	&.checked {
		border-color: rgb(0, 0, 0);
		.jq-checkbox__div {
			position: absolute;
			top: 0;
			bottom: 0;
			right: 0;
			left: 0;
			margin: auto;
			width: $icon-check-black-width;
			height: $icon-check-black-height;
			background-position: $icon-check-black-offset-x $icon-check-black-offset-y;
			background-image: url($icon-check-black-image);
			background-color: transparent;
			border-radius: none;
			box-shadow: none;
		}
	}	
}

.jq-selectbox {
	border-radius: 2px;
	&__select {
		height: 37px;
		line-height: 37px;
		padding-left: 18px;
		border: 0;
		box-shadow: none;
		background: rgb(255, 255, 255);	
		border-radius: 2px;
		&:hover, &:active {
			background: rgb(255, 255, 255);
			box-shadow: none;			
		}
		&-text {
			font-size: 14px;
		}
	}
	&__trigger {
		border: none;
		width: $icon-arrow-grey-down-width;
		height: $icon-arrow-grey-down-height;
		background-position: $icon-arrow-grey-down-offset-x $icon-arrow-grey-down-offset-y;
		background-image: url($icon-arrow-black-down-image);
		background-repeat: no-repeat;
		border: none;
		top: 0;
		right: 18px;
		bottom: 0;
		margin: auto;
		&-arrow {
			display: none;
		}
	}
	&__dropdown {
		border: 1px rgb(183, 183, 183) solid;
		border-radius: 1px;
		ul {
			li {
				position: relative;
				line-height: 1;
				padding-top: 10px;
				padding-bottom: 10px;
				padding-left: 17px;
				&.selected {
					background: rgb(255, 255, 255);
				}
				&.sel {
					color: rgb(49, 175, 236)!important;
					&::before {
						content: '';
						position: absolute;
						right: 18px;
						top: 0;
						bottom: 0;
						margin: auto;
						width: $icon-check-blue-width;
						height: $icon-check-blue-height;
						background-image: url($icon-check-blue-image);
						background-repeat: no-repeat;
						background-position: $icon-check-blue-offset-x $icon-check-blue-offset-y;
						$icon-check-blue-name: 'icon__check--blue';
					}
				}
				&:hover {
					background-color: rgb(231, 231, 231);
					color: rgb(0, 0, 0);
				}				
			}
		}
	}
	&.focused {
		.jq-selectbox__select {
			border: none;
		}
	}
	&:active {
		box-shadow: none;
		background: rgb(255, 255, 255);
	}
	&.opened {
		.jq-selectbox__trigger {
			background-position: $icon-arrow-black-down-offset-x $icon-arrow-black-down-offset-y;
		}
	}
}

.header {
	position: relative;
	padding-bottom: 365px;
	background-image: url('../img/main-header__bg.jpg');
	background-repeat: no-repeat;
	background-position: center center;
	&::before {
		z-index: 10;
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(255, 255, 255, 0.7);
	}
	& + section, & + div {
		position: relative;
		z-index: 100;
		margin-top: -365px;
	}
	.container {
		position: relative;
		z-index: 20;
		height: 107px;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	&__logo {

	}
	&__info {
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		line-height: 1;
		&-phone {
			margin-top: 10px;
			font-size: 21px;
			font-weight: 600;
		}
		&-callback {
			margin-top: 6px;
			color: rgb(0, 160, 231);
			font-size: 14px;
			font-weight: 600;
			outline: none;
			&:hover {
				text-decoration: none;
			}
		}
	}
}

.top-slider {
	overflow: hidden;
	position: relative;
	z-index: 50;
	width: 1000px;
	max-width: 100%;
	height: 450px;
	margin: 0 auto;
	border-radius: 5px;
	background-color: rgb(0, 0, 0);
	&::before {
		z-index: 100;
		content: '';
		position: absolute;
		bottom: 0;
		right: 0;
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 0 0 85px 85px;
		border-color: transparent transparent #ffffff transparent;
	}
	&__video {
		z-index: 10;
		overflow: hidden;
		position: absolute;
		width: 100%;
		height: 100%;
		& > video {
			position: absolute;
			bottom: 0;
			left: 0;
			min-width: 100%;
			width: 100%;
			height: auto;
		}
		&::before {
			z-index: 50;
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: rgba(0, 0, 0, 0.6);
		}
	}
	&__main {
		position: relative;
		height: 100%;
	}
	&__content {			
		position: absolute;
		z-index: 50;
		height: 100%;
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		padding-left: 80px;
		color: rgb(255, 255, 255);
		opacity: 0;	
		&.current {
			opacity: 1;
		}
		.title {
			position: relative;
			width: 500px;
			margin-top: 60px;
			font-size: 50px;
			&::before {
				content: '';
				position: absolute;
				top: 8%;
				left: -80px;
				width: 7px;
				height: 84%;
				background-color: rgb(49, 175, 236);
			}
		}
		.text {
			width: 400px;
			margin-top: 30px;
			font-size: 24px;
		}
		.link {
			display: inline-block;
			width: 200px;
			height: 50px;
			margin-top: 30px;
			line-height: 50px;
			font-size: 16px;
			border: 1px rgb(107, 109, 115) solid;
			color: rgb(255, 255, 255);
			text-decoration: none;
			border-radius: 3px;
			text-align: center;
			&:hover {
				border-color: rgb(49, 175, 236);
			}
		}
	}
	&__nav {
		z-index: 100;
		position: absolute;
		bottom: 23px;
		left: 50%;
		transform: translateX(-50%);
		button {
			cursor: pointer;
			outline: none;
			color: rgb(255, 255, 255);
			&.left {
				.icon {
					transform: rotate(180deg);
				}
			}
			.icon {
				display: block;
			}
			&:hover {
				color: rgb(49, 175, 236);
				.icon {
					width: $icon-triangle-large-blue-width;
					height: $icon-triangle-large-blue-height;
					background-position: $icon-triangle-large-blue-offset-x $icon-triangle-large-blue-offset-y;
				}
			}
			span {
				display: none;
				font-size: 20px;
			}
		}
		button + button {
			margin-left: 25px;
		}
	}
	.main-nav {
		position: absolute;
		z-index: 100;
		bottom: 17px;
		right: 0;
		width: 270px;
		list-style-type: none;
		&__item {
			& + .main-nav__item {
				.main-nav__link {
					border-top: 1px rgba(255, 255, 255, 0.4) solid;
				}
			}
		}
		&__link {
			display: flex;
			align-items: center;
			height: 67px;
			position: relative;
			font-size: 24px;
			color: rgb(255, 255, 255);
			text-decoration: none;
			transition: all 0.3s ease;
			span {
				line-height: 1;
			}
			.icon {
				display: block;
				position: absolute;
				top: 0;
				bottom: 2px;
				left: -35px;
				margin: auto;
				transition: all 0.3s ease;
			}
			&:hover {
				color: rgb(49, 175, 236);
				.icon {
					left: -40px;
				}
			}
		}
	}
	&--page-service {
		.top-slider__content {
			justify-content: flex-start;
			.title {
				margin-top: 60px;
			}
			.text {
				width: 500px;
			}
			.panel {
				position: absolute;
				top: 70px;
				right: 70px;
				display: flex;
				flex-direction: column;
				.link {
					margin: 0;
					& + .link {
						margin-top: 15px;
					}
					&:hover {
						border-color: rgb(255, 255, 255);
					}
				}
			}			
		}
		.top-slider__nav {
			bottom: 40px;
			width: 100%;
			display: flex;
			justify-content: space-between;
			padding-left: 35px;
			padding-right: 60px;
			button {
				display: flex;
				justify-content: space-between;
				align-items: center;
				max-width: 240px;
				span {
					display: block;
				}
				.icon {
					flex-shrink: 0;
				}
				&.right {
					span {
						padding-right: 25px;
						order: -1;
						text-align: right;						
					}
				}
				&.left {
					span {
						padding-left: 25px;
						text-align: left;
					}
				}
			}
		}	
	}
}

.service-tizers {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-top: 30px;
	&__item {
		overflow: hidden;
		position: relative;
		width: calc((100% - 6px) / 3);
		height: 260px;
		margin-bottom: 3px;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center center;
		border-radius: 5px;
		transition: all 0.5s ease-in-out;
		&:nth-child(-n + 4) {
			width: calc((100% - 9px) / 4);
		}
		&::before, &::after {
			z-index: 50;
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
		&::after {
			background-color: rgba(0, 0, 0, 0.2);
		}
		&::before {
			background: linear-gradient(to top, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.8) 15%, rgba(0, 0, 0, 0) 50%);
			transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
		}
		&-content {
			z-index: 100;
			position: absolute;
			width: 100%;
			height: 100%;
			padding-left: 22px;
			color: rgb(255, 255, 255);
			transform: translateY(180px);
			transition: all 0.5s ease-in-out;
			.title {
				position: relative;
				font-size: 19px;
				line-height: 1.3em;
				&::after {
					content: '';
					position: absolute;
					bottom: -10px;
					left: 0;
					width: 50px;
					height: 1px;
					background-color: rgb(49, 175, 236);
				}
				&::before {
					opacity: 0;
					content: '';
					position: absolute;
					top: 8%;
					left: -22px;
					width: 4px;
					height: 84%;
					background-color: rgb(255, 255, 255);
					transition: all 0.5s ease-in-out;
				}
			}
			.text {
				opacity: 0;
				transition: all 0.3s 0.3s ease-in-out;
				transform: translateY(100px);
				margin-top: 25px;
				font-size: 15px;
				line-height: 1.2em;
			}
			.icon {
				position: absolute;
				bottom: 20px;
				left: 0;
				right: 0;
				margin: auto;
				opacity: 0;
				transition: all 0.3s 0.3s ease-in-out;
			}
		}
		&:hover {
			&::before {
				transform: translateY(50%);
				opacity: 0;
			}
			.service-tizers__item-content {
				padding-top: 30px;
				background-color: rgba(0, 0, 0, 0.8);
				transform: translateY(0);
				.title {
					&:before {
						opacity: 1;
					}
				}
				.text {
					opacity: 1;
					transform: translateY(0);
				}
				.icon {
					opacity: 1;
				}
			}
		}
	}
}

.documents {
	margin-top: 60px;
	margin-bottom: 100px;
	&__title {
		font-size: 21px;
		font-weight: 600;
		text-align: center;
	}
	&__content {
		display: flex;
		justify-content: space-between;
		margin-top: 30px;
		&-item {
			position: relative;
			display: flex;
			justify-content: flex-start;
			align-items: center;
			width: 49.5%;
			height: 140px;
			color: rgb(0, 0, 0);
			font-size: 17px;
			text-decoration: none;
			border: 1px rgb(204, 204, 204) solid;
			border-radius: 5px;
			&::after {
				z-index: 50;
				content: '';
				position: absolute;
				display: block;
				bottom: -1px;
				right: -1px;
				width: 60px;
				height: 62px;
				background-image: url('../img/documents-bg.jpg');
				background-position: right bottom;
				background-repeat: no-repeat;
			}
			.image {
				position: relative;
				flex-shrink: 0;
				width: 140px;
				height: 100%;
				border-radius: 5px 0 0 5px;
				.icon {
					position: absolute;
					top: 0;
					bottom: 0;
					left: 44px;
					margin: auto;
				}
				&::before, &::after {
					content: '';
					position: absolute;
				}
				&::before {
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					background-color: rgba(0, 0, 0, 0.3);
				}
				&::after {
					top: 0;
					right: 0;
					width: 0;
					height: 0;
					border-style: solid;
					border-width: 0 0 138px 45px;
					border-color: transparent transparent rgb(255, 255, 255) transparent;
				}
			}
			.text {
				position: relative;
				z-index: 100;
				padding-left: 18px;
				padding-right: 40px;
			}
			&:hover {
				border-color: rgb(49, 175, 236);
				color: rgb(0, 68, 110);
				&::after {
					background-image: url('../img/documents-bg--hover.jpg');
				}
			}
		}
	}
}

.breadcrumbs {
	margin-top: 30px;
	ul {
		overflow: hidden;
		list-style-type: none;
		li {
			display: block;
			float: left;
			position: relative;
			a, span {				
				font-size: 13px;
			}
			a {
				color: rgb(0, 68, 100);
				text-decoration: none;
				&:hover {
					color: rgb(49, 175, 236);
				}
			}
			span {
				color: rgb(0, 68, 100);
			}
		}
		li + li {
			margin-left: 30px;
			&::before {
				content: '';
				position: absolute;
				top: 7px;
				left: -15px;
				width: $icon-arrow-blue-small-width;
				height: $icon-arrow-blue-small-height;
				background-image: url($icon-arrow-blue-small-image);
				background-position: $icon-arrow-blue-small-offset-x $icon-arrow-blue-small-offset-y;
				background-repeat: no-repeat;
			}
		}
	}
	&--light {
		ul {
			li {
				a {
					color: rgb(255, 255, 255);
					&:hover {
						color: rgb(255, 255, 255);
					}
				}
				span {
					color: rgb(255, 255, 255);
				}
			}
			li + li {
				margin-left: 30px;
				&::before {
					background-position: $icon-arrow-white-small-offset-x $icon-arrow-white-small-offset-y;
				}
			}
		}
	}
}

.service-desc {
	margin-top: 30px;
	.container {
		display: flex;
		justify-content: space-between;
	}
	&__image {
		img {
			width: 186px;
		}
	}
	&__text {
		padding-left: 28px;
		p {
			font-size: 17px;
			line-height: 1.2em;
			margin: 0;
			& + p {
				margin-top: 20px;
			}
		}
	}
}

.service-advantages {
	margin-top: 60px;
	&__title {
		margin-bottom: 10px;
		font-size: 21px;
		font-weight: 600;
	}
	&__content {
		padding-top: 50px;
		padding-left: 50px;
		background-color: rgb(245, 245, 245);
		border-radius: 5px;
	}
	.list-bg {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		align-items: flex-start;
		li {
			width: 33.33%;
			margin-bottom: 45px;
			a {
				display: block;
				max-width: 180px;
				font-size: 19px;
				color: rgb(0, 0, 0);
				text-decoration: none;
			}
		}
	}
}

.list-bg {
	list-style-type: none;
	&--check {
		li {
			padding-left: 75px;
			&::before {
				top: 0;
				left: 0;
				width: $icon-list-bg-check-width;
				height: $icon-list-bg-check-height;
				background-position: $icon-list-bg-check-offset-x $icon-list-bg-check-offset-y;
				background-image: url($icon-list-bg-check-hover-image);
			}
			&:hover {
				&::before {
					background-position: $icon-list-bg-check-hover-offset-x $icon-list-bg-check-hover-offset-y;
				}
			}
			span {

			}
		}
	}
	&--circle {
		li {
			padding-left: 23px;
			&::before {
				top: 2px;
				left: 0;
				width: $icon-list-bg-circle-width;
				height: $icon-list-bg-circle-height;
				background-position: $icon-list-bg-circle-offset-x $icon-list-bg-circle-offset-y;
				background-image: url($icon-list-bg-check-hover-image);
			}
		}
	}
	li {
		position: relative;
		&::before {
			content: '';
			position: absolute;
		}
	}
}

.service-list {
	margin-top: 60px;
	&__title {
		margin-bottom: 20px;
		font-size: 21px;
		font-weight: 600;
	}
	&__header {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		.text {
			padding-right: 40px;
			p {
				margin: 0;
				font-size: 17px;
				& + p {
					margin-top: 20px;
				}
			}
		}
		button {
			flex-shrink: 0;
			cursor: pointer;
			display: flex;
			justify-content: center;
			align-items: center;
			width: 250px;
			height: 54px;
			background-color: rgb(0, 68, 110);
			color: rgb(255, 255, 255);
			font-size: 16px;
			border-radius: 4px;
			outline: none;
			&:hover {
				background-color: rgb(49, 175, 236);
				.icon {
					background-position: $icon-division-white-offset-x $icon-division-white-offset-y;
				}
			}
			.icon {

			}
			span {
				padding-left: 20px;
			}
		}
	}
	&__content {
		margin-top: 60px;
		.dropdown-item {
			&__title {
				font-size: 21px;
				font-weight: 600;
				color: rgb(19, 150, 213);
				text-decoration: none;
				.icon {
					margin-right: 30px;
				}
				&:hover {
					color: rgb(0, 68, 110);
					.icon {
						background-position: $icon-arrow-dark-down-offset-x $icon-arrow-dark-down-offset-y;
					}
				}
			}
			&__content {
				padding-left: 53px;
			}
			&.active {
				.dropdown-item__title {
					.icon {
						transform: rotate(180deg);
					}
					&:hover {
						transform: rotate(0);
					}
				}
			}
		}
		.list-bg {
			li {
				span {
					color: rgb(0, 68, 110);
					font-size: 18px;
					font-weight: 600;
				}
			}
			li + li {
				margin-top: 25px;
			}
		}
	}
}

.dropdown-item {
	&__content {
		overflow: hidden;
		opacity: 0;
		max-height: 0px;
		transition: all 0.3s ease-in-out;
	}
	&.active {
		.dropdown-item__content {
			opacity: 1;
			max-height: 999px;
			padding-top: 30px;
			padding-bottom: 30px;
		}
	}
	& + .dropdown-item {
		margin-top: 20px;
	}
}

.contacts {
	margin-top: 60px;
	&__title {
		margin-bottom: 20px;
		font-size: 21px;
		font-weight: 600;
	}
	&__header {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		.text {
			padding-right: 40px;
			p {
				margin: 0;
				font-size: 17px;
				& + p {
					margin-top: 20px;
				}
			}
		}
		.panel {
			display: flex;
			justify-content: space-between;
			button {
				cursor: pointer;
				width: 200px;
				height: 50px;
				line-height: 50px;
				background-color: rgb(49, 175, 236);
				color: rgb(255, 255, 255);
				font-size: 16px;
				border-radius: 4px;
				outline: none;
				transition: all 0.1s ease-in-out;
				&:hover {
					background-color: rgb(0, 68, 110);
				}
				& + button {
					margin-left: 20px;
				}
			}
		}
	}
	&__content {
		display: flex;
		justify-content: center;
		align-items: center;
		margin-top: 35px;
		padding-top: 50px;
		padding-bottom: 50px;
		border-width: 1px;
		border-color: rgb(49, 175, 236);
		border-style: solid;
		border-radius: 4px;
		.image {
			position: relative;
			width: 100px;
			height: 100px;
			background-color: rgb(0, 68, 110);
			border-radius: 50%;
			.icon {
				display: block;
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				margin: auto;
			}
		}
		.desc {
			max-width: 340px;
			margin-left: 35px;
			font-size: 21px;
			font-weight: 600;
			&__title {
				color: rgb(159, 159, 159);
			}
			span {
				display: inline-block;
				& + span {
					padding-top: 25px;
				}
			}
		}
	}
}

.calculator {
	margin-bottom: 135px;
	.container {
		overflow: hidden;
		background-color: rgb(49, 175, 236);
		border: 1px rgb(49, 175, 236) solid;
		border-radius: 8px;
	}
	&__content {
		background-color: rgb(255, 255, 255);
	}
}

.footer {
	position: relative;
	padding-top: 50px;
	padding-bottom: 80px;
	background-image: url('../img/main-footer__bg.jpg');
	background-repeat: no-repeat;
	background-position: center top;
	&::before {
		z-index: 10;
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(255, 255, 255, 0.8);
	}
	.container {
		position: relative;
		z-index: 50;
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
	}
	&__col {
		width: 50%;
		&--left {
			display: flex;
			justify-content: space-between;
			flex-wrap: wrap;
			& > div {
				width: 50%;
			}
		}
		&--right {
			.footer__menu {
				ul {
					width: 115%;
					li {
						width: 50%;
						&:nth-child(even) {
						}
					}
				}
			}
		}
	}
	&__logo {
		margin-top: -10px;
		img {

		}
	}
	&__info {
		line-height: 1;
		.phone {
			font-size: 20px;
			font-weight: 600;
		}
		.mode {
			padding-top: 7px;
			font-size: 14px;
			color: rgb(162, 162, 162);
		}
	}
	&__menu {
		&-title {
			margin-bottom: 15px;
			padding-bottom: 10px;
			border-bottom: 1px rgb(195, 190, 182) solid;
			font-size: 18px;
			font-weight: 600;
			line-height: 1;
		}
		ul {
			list-style-type: none;
			li {
				margin-bottom: 7px;
				float: left;
				width: 100%;
				a {
					font-family: Arial, Helvetica, sans-serif;
					font-size: 14px;
					color: rgb(0, 160, 231);
					text-decoration: none!important;
					border-bottom: 1px rgb(0, 160, 231) solid;
					&:hover {
						border-color: transparent;
					}
				}
			}
		}
	}
}

.modal {
	display: none;
	&__title {
		padding-bottom: 25px;
		font-size: 21px;
		font-weight: 600;
	}
	&__container {
		padding: 30px 35px 45px 35px;
		border-radius: 4px;
		background-color: rgb(255, 255, 255);
	}
}

.form-error {
	padding-top: 14px;
	color: rgb(255, 0, 0);
	font-size: 14px;
	font-weight: 600;
}

.callback-form {
	width: 300px;
	input {
		width: 100%;
		padding-left: 17px;
		padding-right: 17px;
		font-size: 14px;
		height: 38px;
		line-height: 38px;
		border: 1px rgb(153, 153, 153) solid;
		border-radius: 3px;
		outline: none;
		& + input {
			margin-top: 13px;
		}
		@include placeholder {
			color: rgb(0, 0, 0);
		}
		&:focus {
			border-color: rgb(49, 175, 236);
		}
		&.error {
			border-color: rgb(255, 153, 153);
			background-color: rgb(255, 234, 234);
		}
	}
	button[type="submit"] {
		cursor: pointer;
		margin-top: 18px;
		width: 200px;
		height: 50px;
		line-height: 50px;
		background-color: rgb(49, 175, 236);
		color: rgb(255, 255, 255);
		font-size: 16px;
		border-radius: 4px;
		outline: none;
		transition: all 0.1s ease-in-out;
		&:hover {
			background-color: rgb(0, 68, 110);
		}
	}
}

.fancybox {
	&-close-small {
		top: 30px;
		right: 35px;
		width: $icon-close-grey-width;
		height: $icon-close-grey-height;
		background-image: url($icon-close-black-image);
		background-position: $icon-close-grey-offset-x $icon-close-grey-offset-y;
		&::after {
			display: none;
		}
		&:hover {
			background-position: $icon-close-black-offset-x $icon-close-black-offset-y;
		}
	}
	&-container--ready {
		.fancybox-bg {
			opacity: 0;
		}
	}
	&-slide > * {		
		box-shadow: 0px 0px 35px 0px rgba(0, 1, 1, 0.75);
	}
}

@media screen and (max-width: 1000px){
	.service-tizers {
		&__item {
			width: calc((100% - 3px) / 2)!important;
			&:last-child {
				width: 100%!important;
			}
		}
	}
}