@font-face {
    font-family: freesetReg;
    src: url('../fonts/freeset-cyrillic.woff');
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: freesetReg;
}

ul {
    margin: 0;
    padding: 0;
}

button {
    border: none; 
    background-color: transparent;
    padding: 0;
}

.page-wrapper {
    overflow: hidden;
    width: 1920px;
    max-width: 100%;
    margin: 0 auto;
}

.container {
    width: 1000px;
    max-width: 100%;
    margin: 0 auto;
}