// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$icon-arrow-black-down-name: 'icon__arrow--black--down';
$icon-arrow-black-down-x: 448px;
$icon-arrow-black-down-y: 24px;
$icon-arrow-black-down-offset-x: -448px;
$icon-arrow-black-down-offset-y: -24px;
$icon-arrow-black-down-width: 14px;
$icon-arrow-black-down-height: 10px;
$icon-arrow-black-down-total-width: 490px;
$icon-arrow-black-down-total-height: 460px;
$icon-arrow-black-down-image: '../img/sprite.png';
$icon-arrow-black-down: (448px, 24px, -448px, -24px, 14px, 10px, 490px, 460px, '../img/sprite.png', 'icon__arrow--black--down', );
$icon-arrow-blue-down-name: 'icon__arrow--blue--down';
$icon-arrow-blue-down-x: 262px;
$icon-arrow-blue-down-y: 177px;
$icon-arrow-blue-down-offset-x: -262px;
$icon-arrow-blue-down-offset-y: -177px;
$icon-arrow-blue-down-width: 23px;
$icon-arrow-blue-down-height: 14px;
$icon-arrow-blue-down-total-width: 490px;
$icon-arrow-blue-down-total-height: 460px;
$icon-arrow-blue-down-image: '../img/sprite.png';
$icon-arrow-blue-down: (262px, 177px, -262px, -177px, 23px, 14px, 490px, 460px, '../img/sprite.png', 'icon__arrow--blue--down', );
$icon-arrow-blue-small-name: 'icon__arrow--blue--small';
$icon-arrow-blue-small-x: 487px;
$icon-arrow-blue-small-y: 0px;
$icon-arrow-blue-small-offset-x: -487px;
$icon-arrow-blue-small-offset-y: 0px;
$icon-arrow-blue-small-width: 3px;
$icon-arrow-blue-small-height: 5px;
$icon-arrow-blue-small-total-width: 490px;
$icon-arrow-blue-small-total-height: 460px;
$icon-arrow-blue-small-image: '../img/sprite.png';
$icon-arrow-blue-small: (487px, 0px, -487px, 0px, 3px, 5px, 490px, 460px, '../img/sprite.png', 'icon__arrow--blue--small', );
$icon-arrow-dark-down-name: 'icon__arrow--dark--down';
$icon-arrow-dark-down-x: 285px;
$icon-arrow-dark-down-y: 163px;
$icon-arrow-dark-down-offset-x: -285px;
$icon-arrow-dark-down-offset-y: -163px;
$icon-arrow-dark-down-width: 23px;
$icon-arrow-dark-down-height: 14px;
$icon-arrow-dark-down-total-width: 490px;
$icon-arrow-dark-down-total-height: 460px;
$icon-arrow-dark-down-image: '../img/sprite.png';
$icon-arrow-dark-down: (285px, 163px, -285px, -163px, 23px, 14px, 490px, 460px, '../img/sprite.png', 'icon__arrow--dark--down', );
$icon-arrow-dark-up-name: 'icon__arrow--dark--up';
$icon-arrow-dark-up-x: 308px;
$icon-arrow-dark-up-y: 149px;
$icon-arrow-dark-up-offset-x: -308px;
$icon-arrow-dark-up-offset-y: -149px;
$icon-arrow-dark-up-width: 23px;
$icon-arrow-dark-up-height: 14px;
$icon-arrow-dark-up-total-width: 490px;
$icon-arrow-dark-up-total-height: 460px;
$icon-arrow-dark-up-image: '../img/sprite.png';
$icon-arrow-dark-up: (308px, 149px, -308px, -149px, 23px, 14px, 490px, 460px, '../img/sprite.png', 'icon__arrow--dark--up', );
$icon-arrow-grey-down-name: 'icon__arrow--grey--down';
$icon-arrow-grey-down-x: 434px;
$icon-arrow-grey-down-y: 34px;
$icon-arrow-grey-down-offset-x: -434px;
$icon-arrow-grey-down-offset-y: -34px;
$icon-arrow-grey-down-width: 14px;
$icon-arrow-grey-down-height: 10px;
$icon-arrow-grey-down-total-width: 490px;
$icon-arrow-grey-down-total-height: 460px;
$icon-arrow-grey-down-image: '../img/sprite.png';
$icon-arrow-grey-down: (434px, 34px, -434px, -34px, 14px, 10px, 490px, 460px, '../img/sprite.png', 'icon__arrow--grey--down', );
$icon-arrow-white-small-name: 'icon__arrow--white--small';
$icon-arrow-white-small-x: 484px;
$icon-arrow-white-small-y: 5px;
$icon-arrow-white-small-offset-x: -484px;
$icon-arrow-white-small-offset-y: -5px;
$icon-arrow-white-small-width: 3px;
$icon-arrow-white-small-height: 5px;
$icon-arrow-white-small-total-width: 490px;
$icon-arrow-white-small-total-height: 460px;
$icon-arrow-white-small-image: '../img/sprite.png';
$icon-arrow-white-small: (484px, 5px, -484px, -5px, 3px, 5px, 490px, 460px, '../img/sprite.png', 'icon__arrow--white--small', );
$icon-check-black-name: 'icon__check--black';
$icon-check-black-x: 473px;
$icon-check-black-y: 10px;
$icon-check-black-offset-x: -473px;
$icon-check-black-offset-y: -10px;
$icon-check-black-width: 11px;
$icon-check-black-height: 7px;
$icon-check-black-total-width: 490px;
$icon-check-black-total-height: 460px;
$icon-check-black-image: '../img/sprite.png';
$icon-check-black: (473px, 10px, -473px, -10px, 11px, 7px, 490px, 460px, '../img/sprite.png', 'icon__check--black', );
$icon-check-blue-name: 'icon__check--blue';
$icon-check-blue-x: 462px;
$icon-check-blue-y: 17px;
$icon-check-blue-offset-x: -462px;
$icon-check-blue-offset-y: -17px;
$icon-check-blue-width: 11px;
$icon-check-blue-height: 7px;
$icon-check-blue-total-width: 490px;
$icon-check-blue-total-height: 460px;
$icon-check-blue-image: '../img/sprite.png';
$icon-check-blue: (462px, 17px, -462px, -17px, 11px, 7px, 490px, 460px, '../img/sprite.png', 'icon__check--blue', );
$icon-close-black-name: 'icon__close--black';
$icon-close-black-x: 406px;
$icon-close-black-y: 58px;
$icon-close-black-offset-x: -406px;
$icon-close-black-offset-y: -58px;
$icon-close-black-width: 14px;
$icon-close-black-height: 14px;
$icon-close-black-total-width: 490px;
$icon-close-black-total-height: 460px;
$icon-close-black-image: '../img/sprite.png';
$icon-close-black: (406px, 58px, -406px, -58px, 14px, 14px, 490px, 460px, '../img/sprite.png', 'icon__close--black', );
$icon-close-grey-name: 'icon__close--grey';
$icon-close-grey-x: 420px;
$icon-close-grey-y: 44px;
$icon-close-grey-offset-x: -420px;
$icon-close-grey-offset-y: -44px;
$icon-close-grey-width: 14px;
$icon-close-grey-height: 14px;
$icon-close-grey-total-width: 490px;
$icon-close-grey-total-height: 460px;
$icon-close-grey-image: '../img/sprite.png';
$icon-close-grey: (420px, 44px, -420px, -44px, 14px, 14px, 490px, 460px, '../img/sprite.png', 'icon__close--grey', );
$icon-consult-white-name: 'icon__consult--white';
$icon-consult-white-x: 102px;
$icon-consult-white-y: 323px;
$icon-consult-white-offset-x: -102px;
$icon-consult-white-offset-y: -323px;
$icon-consult-white-width: 44px;
$icon-consult-white-height: 47px;
$icon-consult-white-total-width: 490px;
$icon-consult-white-total-height: 460px;
$icon-consult-white-image: '../img/sprite.png';
$icon-consult-white: (102px, 323px, -102px, -323px, 44px, 47px, 490px, 460px, '../img/sprite.png', 'icon__consult--white', );
$icon-division-blue-name: 'icon__division--blue';
$icon-division-blue-x: 146px;
$icon-division-blue-y: 295px;
$icon-division-blue-offset-x: -146px;
$icon-division-blue-offset-y: -295px;
$icon-division-blue-width: 29px;
$icon-division-blue-height: 28px;
$icon-division-blue-total-width: 490px;
$icon-division-blue-total-height: 460px;
$icon-division-blue-image: '../img/sprite.png';
$icon-division-blue: (146px, 295px, -146px, -295px, 29px, 28px, 490px, 460px, '../img/sprite.png', 'icon__division--blue', );
$icon-division-white-name: 'icon__division--white';
$icon-division-white-x: 175px;
$icon-division-white-y: 267px;
$icon-division-white-offset-x: -175px;
$icon-division-white-offset-y: -267px;
$icon-division-white-width: 29px;
$icon-division-white-height: 28px;
$icon-division-white-total-width: 490px;
$icon-division-white-total-height: 460px;
$icon-division-white-image: '../img/sprite.png';
$icon-division-white: (175px, 267px, -175px, -267px, 29px, 28px, 490px, 460px, '../img/sprite.png', 'icon__division--white', );
$icon-doc-white-name: 'icon__doc--white';
$icon-doc-white-x: 204px;
$icon-doc-white-y: 235px;
$icon-doc-white-offset-x: -204px;
$icon-doc-white-offset-y: -235px;
$icon-doc-white-width: 24px;
$icon-doc-white-height: 32px;
$icon-doc-white-total-width: 490px;
$icon-doc-white-total-height: 460px;
$icon-doc-white-image: '../img/sprite.png';
$icon-doc-white: (204px, 235px, -204px, -235px, 24px, 32px, 490px, 460px, '../img/sprite.png', 'icon__doc--white', );
$icon-icon-menu-1-name: 'icon__icon-menu--1';
$icon-icon-menu-1-x: 363px;
$icon-icon-menu-1-y: 103px;
$icon-icon-menu-1-offset-x: -363px;
$icon-icon-menu-1-offset-y: -103px;
$icon-icon-menu-1-width: 16px;
$icon-icon-menu-1-height: 14px;
$icon-icon-menu-1-total-width: 490px;
$icon-icon-menu-1-total-height: 460px;
$icon-icon-menu-1-image: '../img/sprite.png';
$icon-icon-menu-1: (363px, 103px, -363px, -103px, 16px, 14px, 490px, 460px, '../img/sprite.png', 'icon__icon-menu--1', );
$icon-icon-menu-2-name: 'icon__icon-menu--2';
$icon-icon-menu-2-x: 347px;
$icon-icon-menu-2-y: 117px;
$icon-icon-menu-2-offset-x: -347px;
$icon-icon-menu-2-offset-y: -117px;
$icon-icon-menu-2-width: 16px;
$icon-icon-menu-2-height: 16px;
$icon-icon-menu-2-total-width: 490px;
$icon-icon-menu-2-total-height: 460px;
$icon-icon-menu-2-image: '../img/sprite.png';
$icon-icon-menu-2: (347px, 117px, -347px, -117px, 16px, 16px, 490px, 460px, '../img/sprite.png', 'icon__icon-menu--2', );
$icon-icon-menu-3-name: 'icon__icon-menu--3';
$icon-icon-menu-3-x: 331px;
$icon-icon-menu-3-y: 133px;
$icon-icon-menu-3-offset-x: -331px;
$icon-icon-menu-3-offset-y: -133px;
$icon-icon-menu-3-width: 16px;
$icon-icon-menu-3-height: 16px;
$icon-icon-menu-3-total-width: 490px;
$icon-icon-menu-3-total-height: 460px;
$icon-icon-menu-3-image: '../img/sprite.png';
$icon-icon-menu-3: (331px, 133px, -331px, -133px, 16px, 16px, 490px, 460px, '../img/sprite.png', 'icon__icon-menu--3', );
$icon-list-bg-check-hover-name: 'icon__list-bg--check--hover';
$icon-list-bg-check-hover-x: 51px;
$icon-list-bg-check-hover-y: 370px;
$icon-list-bg-check-hover-offset-x: -51px;
$icon-list-bg-check-hover-offset-y: -370px;
$icon-list-bg-check-hover-width: 51px;
$icon-list-bg-check-hover-height: 45px;
$icon-list-bg-check-hover-total-width: 490px;
$icon-list-bg-check-hover-total-height: 460px;
$icon-list-bg-check-hover-image: '../img/sprite.png';
$icon-list-bg-check-hover: (51px, 370px, -51px, -370px, 51px, 45px, 490px, 460px, '../img/sprite.png', 'icon__list-bg--check--hover', );
$icon-list-bg-check-name: 'icon__list-bg--check';
$icon-list-bg-check-x: 0px;
$icon-list-bg-check-y: 415px;
$icon-list-bg-check-offset-x: 0px;
$icon-list-bg-check-offset-y: -415px;
$icon-list-bg-check-width: 51px;
$icon-list-bg-check-height: 45px;
$icon-list-bg-check-total-width: 490px;
$icon-list-bg-check-total-height: 460px;
$icon-list-bg-check-image: '../img/sprite.png';
$icon-list-bg-check: (0px, 415px, 0px, -415px, 51px, 45px, 490px, 460px, '../img/sprite.png', 'icon__list-bg--check', );
$icon-list-bg-circle-name: 'icon__list-bg--circle';
$icon-list-bg-circle-x: 379px;
$icon-list-bg-circle-y: 88px;
$icon-list-bg-circle-offset-x: -379px;
$icon-list-bg-circle-offset-y: -88px;
$icon-list-bg-circle-width: 15px;
$icon-list-bg-circle-height: 15px;
$icon-list-bg-circle-total-width: 490px;
$icon-list-bg-circle-total-height: 460px;
$icon-list-bg-circle-image: '../img/sprite.png';
$icon-list-bg-circle: (379px, 88px, -379px, -88px, 15px, 15px, 490px, 460px, '../img/sprite.png', 'icon__list-bg--circle', );
$icon-triangle-large-blue-name: 'icon__triangle--large--blue';
$icon-triangle-large-blue-x: 245px;
$icon-triangle-large-blue-y: 191px;
$icon-triangle-large-blue-offset-x: -245px;
$icon-triangle-large-blue-offset-y: -191px;
$icon-triangle-large-blue-width: 17px;
$icon-triangle-large-blue-height: 22px;
$icon-triangle-large-blue-total-width: 490px;
$icon-triangle-large-blue-total-height: 460px;
$icon-triangle-large-blue-image: '../img/sprite.png';
$icon-triangle-large-blue: (245px, 191px, -245px, -191px, 17px, 22px, 490px, 460px, '../img/sprite.png', 'icon__triangle--large--blue', );
$icon-triangle-large-white-name: 'icon__triangle--large--white';
$icon-triangle-large-white-x: 228px;
$icon-triangle-large-white-y: 213px;
$icon-triangle-large-white-offset-x: -228px;
$icon-triangle-large-white-offset-y: -213px;
$icon-triangle-large-white-width: 17px;
$icon-triangle-large-white-height: 22px;
$icon-triangle-large-white-total-width: 490px;
$icon-triangle-large-white-total-height: 460px;
$icon-triangle-large-white-image: '../img/sprite.png';
$icon-triangle-large-white: (228px, 213px, -228px, -213px, 17px, 22px, 490px, 460px, '../img/sprite.png', 'icon__triangle--large--white', );
$icon-triangle-white-name: 'icon__triangle--white';
$icon-triangle-white-x: 394px;
$icon-triangle-white-y: 72px;
$icon-triangle-white-offset-x: -394px;
$icon-triangle-white-offset-y: -72px;
$icon-triangle-white-width: 12px;
$icon-triangle-white-height: 16px;
$icon-triangle-white-total-width: 490px;
$icon-triangle-white-total-height: 460px;
$icon-triangle-white-image: '../img/sprite.png';
$icon-triangle-white: (394px, 72px, -394px, -72px, 12px, 16px, 490px, 460px, '../img/sprite.png', 'icon__triangle--white', );
$spritesheet-width: 490px;
$spritesheet-height: 460px;
$spritesheet-image: '../img/sprite.png';
$spritesheet-sprites: ($icon-arrow-black-down, $icon-arrow-blue-down, $icon-arrow-blue-small, $icon-arrow-dark-down, $icon-arrow-dark-up, $icon-arrow-grey-down, $icon-arrow-white-small, $icon-check-black, $icon-check-blue, $icon-close-black, $icon-close-grey, $icon-consult-white, $icon-division-blue, $icon-division-white, $icon-doc-white, $icon-icon-menu-1, $icon-icon-menu-2, $icon-icon-menu-3, $icon-list-bg-check-hover, $icon-list-bg-check, $icon-list-bg-circle, $icon-triangle-large-blue, $icon-triangle-large-white, $icon-triangle-white, );
$spritesheet: (490px, 460px, '../img/sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
