include templates/head.jade
body
	.page-wrapper
		header.header
			.container
				.header__logo
					img(src="img/logo.png", alt="")
				.header__info
					span.header__info-phone 8 (800) 555 40 35
					a.header__info-callback(href="javascript:;" data-src="#callback-modal" data-fancybox) Перезвонить мне
		section.calculator
			.container
				section.breadcrumbs.breadcrumbs--light
					ul
						li
							a(href="#") Главная
						li
							a(href="#") Водонагреватели и газовые плиты
						li
							span Калькулятор
				form.calculator-form
					.calculator__header
						.image
							img(src="img/service-1.png", alt="")
						.desc
							.desc__title Кулькулятор стоимости работ
							.desc__category Водонагреватели и газовые плиты
							.desc__attention
								p Внимание: Все указанные цены носят онакомительный характер, полная смета формируется менеджером после уточнения всех деталей работ
							.desc__select
								select.custom-input(name="city")
									option(value="1") Москва
									option(value="2") Санкт-Петербург
									option(value="3") Киев
									option(value="4") Нью-Йорк
									option(value="5") Токио
								select.custom-input(name="day")
									option(value="1") Будний день
									option(value="2") Выходной
					.calculator__content
						.form-group(data-row="1")
							.property
								.property__text
									p Выезд мастера на адрес, консультация, диагностика
								.property__value
									span 1400 руб.
									input.custom-input(type="checkbox" checked)
						.form-group(data-row="2")
							.property
								.property__text
									p Монтаж напольного газовго котла с 1 контуром (обвязка по воде, подклюсение газа до 1 м до выводов подключения воды и газа)
								.property__value
									span 6800 руб.
									input.custom-input(type="checkbox" checked)
						.form-group(data-row="3")
							.dropdown
								.dropdown-item
									a.dropdown-item__title(href="#")
										p Монтаж дымохода с проходом через стену длиной до 3 метров (без раюоты альпиниста и необходимости крепления дымохода на тросах растяжки)
										i.icon.icon__arrow--blue--down
									.dropdown-item__content
										.property
											.property__text
												ul.list-bg.list-bg--circle
													li Закрытая система отопления из стали
											.property__value
												span 3550 руб.
												input.custom-input(type="checkbox")
										.property
											.property__text
												ul.list-bg.list-bg--circle
													li Закрытая система из полимерных труб
											.property__value
												span 2700 руб.
												input.custom-input(type="checkbox")
										.property
											.property__text
												ul.list-bg.list-bg--circle
													li Открытая система самотечная
											.property__value
												span 3500 руб.
												input.custom-input(type="checkbox")
						.form-footer
							button(type="submit") Сформировать предварительную оценку
							.form-footer__value
								span.blue Итого
								span 8200 руб.
		footer.footer
			.container
				.footer__col.footer__col--left
					.footer__logo
						img(src="img/logo--small.png", alt="")
					.footer__info
						.phone 8 (800) 555 40 35
						.mode 08:30 - 18:00 (мск)
					.footer__menu
						ul
							li
								a(href="#") Техническая поддержка
							li
								a(href="#") Контакты
				.footer__col.footer__col--right
					.footer__menu
						.footer__menu-title Услуги
						ul
							li
								a(href="#") Энергоцентры и котельные
							li
								a(href="#") Аварийно-спасательная служба
							li
								a(href="#") Газовые котлы и системы отопления
							li
								a(href="#") Для частных домов
							li
								a(href="#") Водонагреватели и газовые плиты
							li
								a(href="#") Промышленная газификация
include templates/footer.jade
.modal
	div#callback-modal.modal__container
		.modal__title Закажите звонок
		form.callback-form(action="")
			input(type="text" placeholder="Вас зовут" data-input-required)
			input(type="text" placeholder="Ваш номер телефона" data-input-required)
			button(type="submit") Заказать звонок
.modal
	form#order-modal.order-form
		.modal__title Заявка на работы
		.order-form__header
			.title Предварительный перечень работ
			.row-group
				.row-group__text
					p Выезд мастера на адрес, консультация, диагностика
				.row-group__value
					span 400 руб.
			.row-group
				.row-group__text
					p Монтаж напольного газовго котла с 1 контуром (обвязка по воде, подклюсение газа до 1 м до выводов подключения воды и газа)
				.row-group__value
					span 6800 руб.
			.row-footer
				span Итого
				span 8200 руб.
		.order-form__content
			.title Контактные данные
			.inputs
				.inputs-col
					input(type="text" placeholder="Вас зовут")
					input(type="text" placeholder="Ваш номер телефона")
					input(type="text" placeholder="Ваш город")
				.inputs-col
					input(type="text" placeholder="Название организации")
					input(type="text" placeholder="Ваш E-mail")
					input(type="text" placeholder="Ваш адрес")
			button(type="submit") Отправить