include templates/head.jade
body
	.page-wrapper
		header.header
			.container
				.header__logo
					img(src="img/logo.png", alt="")
				.header__info
					span.header__info-phone 8 (800) 555 40 35
					a.header__info-callback(href="javascript:;" data-src="#callback-modal" data-fancybox) Перезвонить мне
		section.top-slider.top-slider--page-service
			.top-slider__video
				video#service-video(src="img/service-1.mp4" autoplay loop)
			.top-slider__main
				.top-slider__content(data-video-url="img/service-1.mp4")
					.title Энергоцентры Котельные
					.text Комплексное обслуживание котельных любой мощности, систем газоснабжения  и других технологических объектов
					.panel
						a.link(href="#") Задать вопрос
						a.link(href="#") Оставить заявку
				.top-slider__content(data-video-url="img/service-3.mp4")
					.title Газовые котлы и системы отопления
					.text Комплексное обслуживание котельных любой мощности, систем газоснабжения  и других технологических объектов
					.panel
						a.link(href="#") Задать вопрос
						a.link(href="#") Оставить заявку
				.top-slider__content(data-video-url="img/service-2.mp4")
					.title Газификация
					.text Комплексное обслуживание котельных любой мощности, систем газоснабжения  и других технологических объектов
					.panel
						a.link(href="#") Задать вопрос
						a.link(href="#") Оставить заявку
			.top-slider__nav
				button.left(data-direction="left")
					i.icon.icon__triangle--large--white
				button.right(data-direction="right")
					i.icon.icon__triangle--large--white
		section.breadcrumbs
			.container
				ul
					li
						a(href="#") Главная
					li
						a(href="#") Услуги
		section.page-content
			section.service-desc
				.container
					.service-desc__image
						img(src="img/service-1.png", alt="")
					.service-desc__text
						p Монтаж, ввод в эксплуатацию и техобслуживание бытового газового оборудования должны производиться только специализированной сервисной организацией. Монтаж аппарата должен быть выполнен по проекту, соответствующему требованиям Федеральных и локальных нормативных актов, регламентирующих установку газоиспользующего оборудования.
						p Техническое обслуживание газовых водонагревателей является обязательным мероприятием. Осмотр и чистку оборудования рекомендуется производить ежегодно, либо 1 раз в полгода в зависимости от вида изделия и условий эксплуатации.
			section.service-advantages
				.container
					.service-advantages__title Преимущества
					.service-advantages__content
						ul.list-bg.list-bg--check
							li
								a(href="#") Чистка основной и запальной горелок
							li
								a(href="#") Проверка герметичности водяной и газовой систем аппарата
							li
								a(href="#") Проверка работоспособности термореле
							li
								a(href="#") Замена уплотнений в газовой и водяной системах
							li
								a(href="#") Смазка подвижных соединений
							li
								a(href="#") Внеочередная чистка аппарата
			section.service-list
				.container
					.service-list__title Перечень услуг
					.service-list__header
						.text
							p Вы можете составить предварительную смету на работы. Уточнение стоимости происходить после обработки вашей заявки нашим менеджером
						button
							i.icon.icon__division--blue
							span Уточнить стоимость
					.service-list__content
						.dropdown
							.dropdown-item
								a.dropdown-item__title(href="#")
									i.icon.icon__arrow--blue--down
									span Монтаж, замена и пуско-наладка водонагревателей (ВПГ) и плит газовых (ПГ)
								.dropdown-item__content
									ul.list-bg.list-bg--circle
										li
											span Обследование газового оборудования на адресе по заявке абонента
										li
											span Замена газовой плиты (отечеств. пр-ва) (комплекс работ: демонтаж, монтаж и пусконаладка)
										li
											span Демонтаж плиты
										li
											span Монтаж плиты
										li
											span Пуско-наладка плиты газовой (отечественного пр-ва),постановка на гарантийный ремонт
										li
											span Замена газовой плиты (импорт. пр-ва) (комплекс работ: демонтаж, монтаж и пусконаладка)
							.dropdown-item
								a.dropdown-item__title(href="#")
									i.icon.icon__arrow--blue--down
									span Работы по монтажу дымоотводящих труб
								.dropdown-item__content
									ul.list-bg.list-bg--circle
										li
											span Обследование газового оборудования на адресе по заявке абонента
										li
											span Замена газовой плиты (отечеств. пр-ва) (комплекс работ: демонтаж, монтаж и пусконаладка)
										li
											span Демонтаж плиты
										li
											span Монтаж плиты
										li
											span Пуско-наладка плиты газовой (отечественного пр-ва),постановка на гарантийный ремонт
										li
											span Замена газовой плиты (импорт. пр-ва) (комплекс работ: демонтаж, монтаж и пусконаладка)
							.dropdown-item
								a.dropdown-item__title(href="#")
									i.icon.icon__arrow--blue--down
									span Дополнительные монтажные работы при установке газового оборудования
								.dropdown-item__content
									ul.list-bg.list-bg--circle
										li
											span Обследование газового оборудования на адресе по заявке абонента
										li
											span Замена газовой плиты (отечеств. пр-ва) (комплекс работ: демонтаж, монтаж и пусконаладка)
										li
											span Демонтаж плиты
										li
											span Монтаж плиты
										li
											span Пуско-наладка плиты газовой (отечественного пр-ва),постановка на гарантийный ремонт
										li
											span Замена газовой плиты (импорт. пр-ва) (комплекс работ: демонтаж, монтаж и пусконаладка)
							.dropdown-item
								a.dropdown-item__title(href="#")
									i.icon.icon__arrow--blue--down
									span Техническое обслуживание и ремонт газовых плит
								.dropdown-item__content
									ul.list-bg.list-bg--circle
										li
											span Обследование газового оборудования на адресе по заявке абонента
										li
											span Замена газовой плиты (отечеств. пр-ва) (комплекс работ: демонтаж, монтаж и пусконаладка)
										li
											span Демонтаж плиты
										li
											span Монтаж плиты
										li
											span Пуско-наладка плиты газовой (отечественного пр-ва),постановка на гарантийный ремонт
										li
											span Замена газовой плиты (импорт. пр-ва) (комплекс работ: демонтаж, монтаж и пусконаладка)
			section.contacts
				.container
					.contacts__title Контакты
					.contacts__header
						.text
							p Для заключения договора на техническое обслуживание гаховой котельной, а также для получения ответов на все интересующие вас вопросы, просим связаться со специалистом нашей компании
						.panel
							button Задать вопрос
							button Оставить заявку
					.contacts__content
						.image
							i.icon.icon__consult--white
						.desc
							.desc__title Отдел
							span Водонагреватели и газовые плиты
							span
								| 8 (812) 321-09-09&nbsp;&nbsp;
								span.blue доб. 429
		footer.footer
			.container
				.footer__col.footer__col--left
					.footer__logo
						img(src="img/logo--small.png", alt="")
					.footer__info
						.phone 8 (800) 555 40 35
						.mode 08:30 - 18:00 (мск)
					.footer__menu
						ul
							li
								a(href="#") Техническая поддержка
							li
								a(href="#") Контакты
				.footer__col.footer__col--right
					.footer__menu
						.footer__menu-title Услуги
						ul
							li
								a(href="#") Энергоцентры и котельные
							li
								a(href="#") Аварийно-спасательная служба
							li
								a(href="#") Газовые котлы и системы отопления
							li
								a(href="#") Для частных домов
							li
								a(href="#") Водонагреватели и газовые плиты
							li
								a(href="#") Промышленная газификация
include templates/footer.jade
.modal
	div#callback-modal.modal__container
		.modal__title Закажите звонок
		form.callback-form(action="")
			input(type="text" placeholder="Вас зовут" data-input-required)
			input(type="text" placeholder="Ваш номер телефона" data-input-required)
			button(type="submit") Заказать звонок
